<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="principal"></ion-back-button>
    </ion-buttons>
    <ion-title>Selecione Processador</ion-title>
  </ion-toolbar>
  <ion-img class="logoCentralizada" src="assets/imgs/LogoMonteSeuPC.png"></ion-img>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-item-sliding *ngFor="let processador of processadores">
      <ion-item (click)="selecionarProcessador(processador.id)" href="/principal" detail>
        <ion-label>{{processador.nome}}</ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

</ion-content>
