
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="principal"></ion-back-button>
    </ion-buttons>
    <ion-title>Gerenciamento do Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row class = "ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button href="/select-processador-grupo07" color="primary">
        Selecionar <br> Processadores</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class = "ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-item>
        <ion-input type="text" name="foto" placeholder="Insira uma foto da peça"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class = "ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button href="/select-memoria-ram-grupo07" color="primary">
        Selecionar <br> Memórias Ram</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class = "ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-item>
        <ion-input type="text" name="foto" placeholder="Insira uma foto da peça"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class = "ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button href="/select-placa-mae-grupo07" color="primary">
        Selecionar <br> Placas-mãe</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class = "ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button href="/select-placa-de-video-grupo07" color="primary">
        Selecionar <br> Placas de Vídeo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class = "ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button href="/select-armazenamento-grupo07" color="primary">
        Selecionar <br> Peças de Armazenamento</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class = "ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button href="/select-fonte-grupo07" color="primary">
        Selecionar <br> Fontes</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class = "ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button href="/select-gabinete-grupo07" color="primary">
        Selecionar <br> Gabinetes</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
