
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Gerenciamento de Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row class = "ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button href="/processador-grupo07" color="primary">
        Gerenciar <br> Processadores</ion-button>
    </ion-col>
  </ion-row>
  
  <ion-row class = "ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button href="/placa-mae-grupo07" color="primary">
        Gerenciar <br> Placas-mãe</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class = "ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button href="/memoria-ram-grupo07" color="primary">
        Gerenciar <br> Memórias Ram</ion-button>
    </ion-col>
  </ion-row>

  

  <ion-row class = "ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button href="/placa-de-video-grupo07" color="primary">
        Gerenciar <br> Placas de Vídeo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class = "ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button href="/armazenamento-grupo07" color="primary">
        Gerenciar <br> Peças de Armazenamento</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class = "ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button href="/fonte-grupo07" color="primary">
        Gerenciar <br> Fontes</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class = "ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button href="/gabinete-grupo07" color="primary">
        Gerenciar <br> Gabinetes</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
